@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
    background: url('background1.jpg') no-repeat;
    background-size: cover;
    background-attachment: fixed;
    /* Keeps the background fixed */
    background-position: center;
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    height: 70px;
    width: 100%;
    background: rgb(255, 255, 255);
    opacity: 100%;
    padding: 1.3rem 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}


.logo {
    font-size: 2rem;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: 700;
}

.navbar a {
    font-size: 1rem;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: 700;
    margin-left: 0.5rem;
    transition: 0.3s;
}

.navbar a:hover {
    color: orange;
    font-size: 1.2rem;
    transition: 0.3s;
}

#check {
    display: none;
}

.icons {
    position: absolute;
    right: 5%;
    font-size: 2.8rem;
    color: rgb(0, 0, 0);
    cursor: pointer;
    display: none;
}

/*BREAKPOINTS*/
@media(max-width:1461px) {
    .header {
        padding: 1.3rem 5%;

    }

    .navbar a {
        font-size: 0.9rem;
        color: rgb(0, 0, 0);
        text-decoration: none;
        font-weight: 700;
        margin-left: 2rem;
        transition: 0.3s;
    }

    .navbar a:hover {
        color: orange;
        font-size: 1.1rem;
        transition: 0.3s;
    }

}

@media(max-width:1199px) {
    .header {
        padding: 1rem 3%;

    }

    .navbar a {
        font-size: 0.8rem;
        color: rgb(0, 0, 0);
        text-decoration: none;
        font-weight: 700;
        margin-left: 2rem;
        transition: 0.3s;
    }

    .navbar a:hover {
        color: orange;
        font-size: 1rem;
        transition: 0.3s;
    }
}

@media(max-width:1125px) {

    .icons {
        display: inline-flex;
    }

    #check:checked~.icons #menu-icon {
        display: none;
    }

    .icons #close-icon {
        display: none;
    }

    #check:checked~.icons #close-icon {
        display: block;
    }

    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 0;
        background: rgb(0, 0, 0);
        backdrop-filter: blur(50px);
        box-shadow: 0.5rem 1rem rgba(0, 0, 0, .1);
        opacity: 95%;
        overflow: hidden;
        transition: 0.3s;
    }

    #check:checked~.navbar {
        height: 23.5rem;
        transition: 0.3s;
    }

    .navbar a {
        display: block;
        font-size: 1.1rem;
        margin: 1.5rem 0;
        text-align: center;
        transform: translateY(-50px);
        transition: .3s ease;
        color: white;

    }

    #check:checked~.navbar a {
        transform: translateY(0);
        transition-delay: calc(.15s * var(--i));
    }
}

@media(max-width:500px) {
    .logo {
        font-size: 1.4rem;
        font-weight: 700;
    }
}


/* ==================================================
                 HOME SECTION STARTS HERE 
     ================================================== */

.home {
    display: flex;
    height: 100vh;
    color: white;
}

.home .max-width {
    margin: auto 0 auto 40px;
}

.home .home-content .text-1 {
    font-weight: 400;
    font-size: 40px;
}

.home .home-content .text-2 {
    font-size: 75px;
    font-weight: 600;
    margin-left: -3px;
}

.home .home-content .text-3 {
    font-weight: 400;
    font-size: 40px;
    margin: 5px 0;
}

.home .home-content .text-3 span {
    color: rgb(255, 0, 0);
    font-weight: 700;
}

@media (max-width:700px) {

.home .max-width {
    margin: auto 0 auto 20px;
}

.home .home-content .text-1 {
    font-weight: 400;
    font-size: 28px;
}

.home .home-content .text-2 {
    font-size: 55px;
    font-weight: 600;
    margin-left: -3px;
}

.home .home-content .text-3 {
    font-weight: 400;
    font-size: 28px;
    margin: 3px 0;
    }

}

/* ==================================================
                 ABOUT SECTION STARTS HERE 
     ================================================== */

.about {
    padding-bottom: 50px;
    padding-top: 100px;
}

.about h1 {
    padding: 20px;
    font-size: 40px;
    color: white;
    text-align: center;
}

.about-section {
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.about-content {
    color: #333;
    padding: 20px;
}

.about-image img {
    max-width: 100%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.about-content h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.about-content h3 {
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.about-content ul {
    list-style: disc;
    margin-left: 20px;
}

.about-content li {
    margin-bottom: 10px;
}

.about-content ul li strong {
    color: rgb(131, 4, 222);
}

@media (min-width: 768px) {

    .about-section {
        flex-direction: row;
    }

    .about-image img {
        border-top-right-radius: 0;
        border-bottom-left-radius: 10px;
    }
}

@media (max-width:768px) {

    .about {
        padding-top: 50px;
    }

    .about h1 {
        padding: 20px;
        font-size: 30px;
        color: white;
        text-align: center;
    }
}

/* ==================================================
                 NOTE'S SECTION STARTS HERE 
     ================================================== */

.notes {
    padding-bottom: 50px;
    padding-top: 100px;
}

.notes h1 {
    padding: 20px;
    font-size: 40px;
    color: white;
    text-align: center;
}

.notes-section {
    display: flex;
    flex-wrap: wrap;
    max-width: 1150px;
    margin: 0 auto;
}

.note {
    background-color: #f9f9f9;
    border-radius: 10px;
    padding: 40px;
    margin: 10px;
    width: calc(33% - 20px);        /* Adjust the width based on 4 in a row layout */

}

.note h2 {
    font-size: 20px;
    text-align: center;
    text-decoration: underline;
    margin-bottom: 10px;
    display: block;
    background-color: #0099ff;
    border-radius: 5px;
    padding: 10px 20px;
}

.note p {
    text-align: center;
    font-size: 16px;
    margin-bottom: 10px;
    font-weight: bold;
}

.download-link {
    display: inline-block;
    padding: 10px 20px;
    background-color: #3498db;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.download-link:hover {
    background-color: #2980b9;
}

@media (max-width: 768px) {
    .note {
        width: calc(100% - 20px);
        /* Adjust the width for 2 in a row layout on smaller screens */
    }
}

@media (max-width: 480px) {
    .note {
        width: calc(100% - 20px);
        /* Adjust the width for 2 in a row layout on even smaller screens */
    }
}

@media (max-width:768px) {

    .notes {
        padding-top: 50px;
    }

    .notes h1 {
        padding: 20px;
        font-size: 30px;
        color: white;
        text-align: center;
    }
}

/* ==================================================
                 QP's SECTION STARTS HERE 
     ================================================== */

    .qps {
        padding-bottom: 50px;
        padding-top: 100px;
    }
    
    .qps h1 {
        padding: 20px;
        font-size: 40px;
        color: white;
        text-align: center;
    }
    
    .qps-section {
        display: flex;
        flex-wrap: wrap;
        max-width: 1150px;
        margin: 0 auto;
    }
    
    .qp {
        background-color: #f9f9f9;
        border-radius: 10px;
        padding: 40px;
        margin: 10px;
        width: calc(25% - 20px);        /* Adjust the width based on 4 in a row layout */
    
    }
    
    .qp h2 {
        font-size: 20px;
        text-align: center;
        text-decoration: underline;
        margin-bottom: 10px;
        display: block;
        background-color: #0099ff;
        border-radius: 5px;
        padding: 10px 20px;
    }
    
    .qp p {
        text-align: center;
        font-size: 16px;
        margin-bottom: 10px;
        font-weight: bold;
    }
    
    .qp-download-link {
        display: inline-block;
        padding: 10px 20px;
        background-color: #3498db;
        color: white;
        text-decoration: none;
        border-radius: 5px;
        transition: background-color 0.3s;
    }
    
    .qp-download-link:hover {
        background-color: #2980b9;
    }
    
    @media (max-width: 768px) {
        .qp {
            width: calc(100% - 20px);
            /* Adjust the width for 2 in a row layout on smaller screens */
        }
    }
    
    @media (max-width: 480px) {
        .qp {
            width: calc(100% - 20px);
            /* Adjust the width for 2 in a row layout on even smaller screens */
        }
    }
    
    @media (max-width:768px) {
    
        .qps {
            padding-top: 50px;
        }
    
        .qps h1 {
            padding: 20px;
            font-size: 30px;
            color: white;
            text-align: center;
        }
    }

/* ==================================================
                 QP's SECTION STARTS HERE 
     ================================================== */

   .projects {
      padding-bottom: 50px;
      padding-top: 100px;
  }
  
  .projects h1 {
      padding: 20px;
      font-size: 40px;
      color: rgb(255, 255, 255);
      text-align: center;
  }
  
  .projects-section {
      display: flex;
      flex-wrap: wrap;
      max-width: 1150px;
      margin: 0 auto;
  }
  
  .project {
      background-color: #f9f9f9;
      border-radius: 10px;
      padding: 40px;
      margin: 10px;
      width: calc(25% - 20px);        /* Adjust the width based on 4 in a row layout */
  
  }
  
  .project h2 {
      font-size: 20px;
      text-align: center;
      text-decoration: underline;
      margin-bottom: 10px;
      display: block;
      background-color: #0099ff;
      border-radius: 5px;
      padding: 10px 20px;
  }
  
  .project p {
      text-align: center;
      font-size: 16px;
      margin-bottom: 10px;
      font-weight: bold;
  }
  
  .project-download-link {
      display: inline-block;
      padding: 10px 20px;
      background-color: #3498db;
      color: white;
      text-decoration: none;
      border-radius: 5px;
      transition: background-color 0.3s;
  }
  
  .project-download-link:hover {
      background-color: #2980b9;
  }
  
  @media (max-width: 768px) {
      .project {
          width: calc(100% - 20px);
          /* Adjust the width for 2 in a row layout on smaller screens */
      }
  }
  
  @media (max-width: 480px) {
      .project {
          width: calc(100% - 20px);
          /* Adjust the width for 2 in a row layout on even smaller screens */
      }
  }
  
  @media (max-width:768px) {
  
      .projects {
          padding-top: 50px;
      }
  
      .projects h1 {
          padding: 20px;
          font-size: 30px;
          color: white;
          text-align: center;
      }
  }


















    /* ==================================================
                 CONTACT SECTION STARTS HERE 
     ================================================== */

   