
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
    min-height: 100vh;
    background: url('background.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    height: 70px;
    width: 100%;
    background: rgb(255, 255, 255);
    opacity: 90%; 
    padding: 1.3rem 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}


.logo {
    font-size: 2rem;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: 700;
}

.navbar a {
    font-size: 1rem;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: 700;
    margin-left: 0.5rem;
    transition: 0.3s;
}

.navbar a:hover{
    color: orange;
    font-size: 1.2rem;
    transition: 0.3s;
}

#check {
    display: none;
}

.icons {
    position: absolute;
    right: 5%;
    font-size: 2.8rem;
    color: rgb(0, 0, 0);
    cursor: pointer;
    display: none;
}

/*BREAKPOINTS*/
@media(max-width:1461px) {
    .header {
        padding: 1.3rem 5%;
        
    }
    .navbar a {
        font-size: 0.9rem;
        color: rgb(0, 0, 0);
        text-decoration: none;
        font-weight: 700;
        margin-left: 2rem;
        transition: 0.3s;
    }
    
    .navbar a:hover{
        color: orange;
        font-size: 1.1rem;
        transition: 0.3s;
    }
    
}

@media(max-width:1199px) {
    .header {
        padding: 1rem 3%;
        
    }

    .navbar a {
        font-size: 0.8rem;
        color: rgb(0, 0, 0);
        text-decoration: none;
        font-weight: 700;
        margin-left: 2rem;
        transition: 0.3s;
    }
    
    .navbar a:hover{
        color: orange;
        font-size: 1rem;
        transition: 0.3s;
    }
}

@media(max-width:1125px) {

   .icons {
    display: inline-flex;
   }

   #check:checked~.icons #menu-icon {
    display: none;
   }

   .icons #close-icon {
    display: none;
   }

   #check:checked~.icons #close-icon {
    display: block;
   }

   .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 0;
    background: rgb(255, 255, 255);
    backdrop-filter: blur(50px);
    box-shadow: 0.5rem 1rem rgba(0, 0, 0, .1);
    opacity: 90%;
    overflow: hidden;
    transition: 0.3s;
   }

   #check:checked~.navbar {
    height: 23.5rem;
    transition: 0.3s;
   }

   .navbar a {
    display: block;
    font-size: 1.1rem;
    margin: 1.5rem 0;
    text-align: center;
    transform: translateY(-50px);
    transition: .3s ease;

   }

   #check:checked~.navbar a {
    transform: translateY(0);
    transition-delay: calc(.15s * var(--i));
   }
}

@media(max-width:500px){
    .logo {
    font-size: 1.4rem;
    font-weight: 700;
    }
}


/* ==================================================
                 HOME SECTION STARTS HERE 
     ================================================== */

    .home {
        display: flex;
        height: 100vh;
        color: white;
        min-height: 500px;
    }

    .home .max-width {
        margin: auto 0 auto 40px;
    }
    
    .home .home-content .text-1 {
        font-size: 40px;
    }

    .home .home-content .text-2 {
        font-size: 75px;
        font-weight: 600;
        margin-left: -3px;
    }

    .home .home-content .text-3 {
        font-size: 40px;
        margin: 5px 0 ;
    }

    .home .home-content .text-3 span{
        color: rgb(255, 0, 0);
        font-weight: 700;
    }

    @media (max-width:700px) {

        .home .max-width {
            margin: auto 0 auto 20px;
        }

        .home .home-content .text-1 {
            font-size: 28px;
        }
    
        .home .home-content .text-2 {
            font-size: 60px;
            font-weight: 600;
            margin-left: -3px;
        }
    
        .home .home-content .text-3 {
            font-size: 28px;
            margin: 3px 0 ;
        }
    
    }

    

 
    

    
    
/* ==================================================
                 ABOUT SECTION STARTS HERE 
     ================================================== */

